<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrigensCO</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">OrigensCO</a>
            <button class="navbar-toggler" type="button" onclick="toggleMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav>
                <ul class="nav-links" id="navLinks">
                    <li><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link" asp-controller="Registro" asp-action="Register">Register</a></li>
                    @{
                        var user = Context.Session.GetString("User");
                    }
                    <li>
                        @if (string.IsNullOrEmpty(user))
                        {
                            <a class="nav-link" asp-controller="Login" asp-action="Login">Store</a>
                        }
                        else
                        {
                            <a class="nav-link" asp-controller="Pagamento" asp-action="Index">Store</a>
                        }
                    </li>
                    <li><a class="nav-link" asp-controller="Market" asp-action="Index">Market Live</a></li>
                    <li><a class="nav-link" asp-controller="Mining" asp-action="Index">Mining Live</a></li>
                    <li><a class="nav-link" asp-controller="Download" asp-action="Index">Download</a></li>
                    <li><a class="nav-link" asp-controller="Wiki" asp-action="Index">Wiki</a></li>
                </ul>
            </nav>
            <div class="auth-buttons">
                @if (!string.IsNullOrEmpty(user))
                {
                    <a class="login-button logged-in" asp-controller="Login" asp-action="Logout">
                        <img src="/images/user-avatar.png" alt="User Avatar" class="user-avatar" />
                        Logout
                    </a>
                }
                else
                {
                    <a class="login-button" asp-controller="Login" asp-action="Login">Login</a>
                }
            </div>
        </div>
    </header>

    <main role="main">
        @RenderBody()
    </main>
    <script>
        function toggleMenu() {
            const navLinks = document.getElementById('navLinks');
            navLinks.classList.toggle('show');
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

